<div class="courses">
    <div class="table100 ver3 m-t-10">
        <table data-vertable="ver3">
            <thead>
            <tr class="row100 head">
                <th class="column100 column2">Producto <span title="Add course" data-toggle="modal" data-target="#editModal"><i class="fas fa-plus-circle"></i></span></th>
                <th class="column100 column2">Título</th>
                <th class="column100 column2">Descripción</th>
                <th class="column100 column2">Precio</th>
                <th class="column100 column2">Proveedor</th>
                <th class="column100 column2">Stock</th>
                <th class="column100 columnAction">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function(product) { %>
                <tr class="row100">
                    <td class="column100 column1"><img src="<%= product.productData.image %>" class="little-image"></td>
                    <td class="column100 column2"><%= product.productData.title %></td>
                    <td class="column100 column2"><%= product.productData.description %></td>
                    <td class="column100 column2"><%= product.productData.price %></td>
                    <td class="column100 column2"><%= product.productData.provider %></td>
                    <td class="column100 column2"><%= product.productData.stock %></td>
                    <td class="column100 columnAction">
                        <span data-process="edt<%= product.productId %>" title="Editar producto" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></span>
                        <span data-process="del<%= product.productId %>" title="Eliminar producto"><i class="fas fa-minus-circle"></i></span>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<div class="edit-modal">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe el URL de la imagen">
                        <input class="input100" type="text">
                        <span class="focus-input100" data-placeholder="Url de imagen"></span>
                    </div>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe el título">
                        <input class="input100" type="text">
                        <span class="focus-input100" data-placeholder="Título"></span>
                    </div>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe la descripción">
                        <textarea cols="10" rows="10" class="input100" type="text"> </textarea>
                        <span class="focus-input100" data-placeholder="Descripción"></span>
                    </div>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe el precio">
                        <input class="input100" type="number">
                        <span class="focus-input100" data-placeholder="Precio"></span>
                    </div>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe el proveedor">
                        <input class="input100" type="text">
                        <span class="focus-input100" data-placeholder="Proveedor"></span>
                    </div>
                </div>
                <div class="modal-body m-t-20">
                    <div class="wrap-input100 validate-input" data-validate="Escribe el stock">
                        <input class="input100" type="number">
                        <span class="focus-input100" data-placeholder="Stock"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-edit">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>
